@media (max-width: 1300px){ 
    .aside{
        display: none;
    }
}

@media (max-width: 1200px){ 
    .container{
        width: 940px;
    }
    .about{
        &__grid{
            display: grid;
            column-gap: 70px;
            row-gap: 40px;
            grid-template: repeat(2, auto) / repeat(2, auto);
        }
    }
    .portfolio{
        &__grid{
            grid-template: repeat(2, 280px) / repeat(4, 280px);
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: space-around; 
            row-gap: 30px;
        }
        &__item{
            &--vertical{
                grid-row: unset;
                grid-column: unset;
            }
            &--horizontal{
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts{
        padding: 120px 0 40px 0;
        &__grid{
            display: grid;
            grid-template-columns: 300px 485px;
            justify-content: space-between;
        }
    }
}

@media (max-width: 991px){
    .container{
        width: 740px;
    }
    .about{
        padding-top: 85px;
        &__grid{
            grid-template: repeat(2, auto) / repeat(2, auto);
        }
        &__item{
            width: 222px;
            margin-bottom: 10px;
            &-info{
                width: 180px;
            }
        }
    }
    .resume{
        &__grid{
            padding: 0 40px;
            margin-top: 40px;
            &-column{
                &-title{
                    &::before{
                        top: 10px;
                    }
                }
            }
        }
    }
    .skillz{
        &__grid{
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
        }
        &__item{
            padding: 28px;
        }
    }
    .price{
        &__grid{
            grid-template-columns: repeat(auto-fit, 300px);
            grid-template-rows: 180px;
            column-gap: 10px;
            justify-content: center;
            row-gap: 80px;
            
        }
        &__column{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            
        }
        &__item{
            margin-bottom: 25px;
            
        }
    }
    .contacts{
        padding: 120px 0 40px 0;
        &__grid{
            display: grid;
            grid-template-columns: 200px 485px;
            justify-content: space-between;
        }
    }
}

@media (max-width: 768px){
    .container{
        width: 540px;
    }
    .title{
        &--fz48{
            font-size: 37px;
            line-height: 50px;
        }
        &--fz36{
            font-size: 32px;
        }
    }
    .promo{
        &__text{
            width: 80%;
        }
        &__title{
            margin-bottom: 30px;
        }
    }
    .about{
        padding-top: 85px;
        &__grid{
            grid-template: repeat(2, auto) / repeat(2, auto);
        }
        &__grid{
            grid-template: 200px auto / repeat(2, auto);
        }
        &__photo{
            grid-row: 1 / 2;
            grid-column: 1/ 3;
        }
        &__info{
            grid-row: 2 / 3;
            grid-column: 1 / 3;    
        }
        &__skills{
            grid-column: 1 / 3;
        }
        &__item{
            width: 222px;
            margin-bottom: 10px;
        }
    }
    .skillz{
        padding-top: 40px;
        &__grid{
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
        }
        &__item{
            padding: 28px;
        }
        &__progress{
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
        }
    }
    .contacts{
        padding: 40px 0 40px 0;
        &__grid{
            display: grid;
            grid-template-columns: auto;
            justify-content: space-between;
        }
        &__photo{
            display: none;
        }
    }
    .contacts{
        &__grid{
            justify-content: center;
        }
        &__form{
            margin-top: 20px;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto 45px 45px 143px 200px;
            justify-content: center;
        }
        &__input{
              width: 100%;
              grid-column: 1 / 3;
              grid-row: unset;
        }
        &__area{
            grid-row: unset;
            grid-column: 1 / 3;
        }
        &__trigger{
            grid-template-columns: auto;
        }
    }
}

@media (max-width: 576px){
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .title{
        &--fz48{
            font-size: 32px;
            line-height: 50px;
        }
        &--section-subtitle{
            &::after{
                margin-top: 15px;
            }
        }
    }
    .promo{
        &__title{
            margin-bottom: 30px;
        }
    }
    .about{
        &__item{
            width: 340px;
            margin-bottom: 10px;
            &-info{
                width: 291px;
            }
        }
    }
    .resume{
        padding-top: 60px;
        &__grid{
            padding: 0;
            padding-left: 58px;
            padding-right: 10px;
            margin-top: 40px;
            grid-template: repeat(2, auto) / 1fr;
            &-item{
                margin-bottom: 10px;
            }
            &-column{
                &-title{
                    &::before{
                        top: 10px;
                    }
                }
                margin-bottom: 40px;
            }
        }
    }
    .skillz{
        &__item{
            padding: 10px;
        }
    }
    .portfolio{
        padding-top: 40px;
    }
}

@media (max-width: 426px){
    .title{
        &--fz48{
            font-size: 27px;
            line-height: 39px;
        }
        &--fz36{
            font-size: 24px;
            line-height: 36px;
        }
    }
    .menu{
        &__block{
            width: 250px;
            padding: 140px 19px 0 55px;
        }
    }
    .promo{
        background: url("../images/background.jpg") no-repeat 58%/cover;
        &__text{
            width: 100%;
        }
        &__title{
            margin-bottom: 30px;
        }
    }
    .about{
        &__item{
            width: 308px;
            &-info{
                width: 260px;
            }
        }
    }
    .skillz{
        padding-top: 46px;
        &__grid{
            grid-template-columns: auto;
            grid-auto-rows: auto;
            justify-content: center;
            margin-top: 20px;
        }
        &__item{
            width: 270px;
            height: 270px;
            padding: 30px 25px;
        }
        &__progress{
            grid-template-columns: auto;
            grid-auto-rows: auto;
            &-item{
                grid-template-columns: repeat(2, auto);
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 320px){
    .promo{
        background: url("../images/background.jpg") no-repeat 58%/cover;
        &__title{
            margin-bottom: 9px;
        }
        &__btns{
            margin-top: 32px;
        }
        &__text{
            width: 100%;
        }
    }
    .about{
        padding-top: 40px;
        &__grid{
            grid-template: 340px auto / 1fr;
        }
        &__photo{
            grid-row: 1 / 2;
        }
        &__info{
            width: 100%;
        }
        &__skills{
            width: 100%;
            padding-right: 18px;
        }
        &__item{
            width: 100%;
            margin-bottom: 10px;
            &-info{
                margin-left: 24px;
                width: 206px;
            }
        }
        &__icon{
            &::before{
                left: 16px;
                top: 2px;
            }
            img{
                right: -28px;
                top: 13px;
            }
        }
    }
    .resume{
        
        &__grid{
            padding-left: 58px;
            padding-right: 10px;
            grid-template: repeat(2, auto) / auto;
        }
    }
}